.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.transactionHistory th {
  background-color: #f2f2f2;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transactionHistory tbody tr:hover {
  background-color: #f2f2f2;
}
